.el-table .cell {
  white-space: nowrap;
} 

.active-row{
  color: #d61e1e;
}
.el-slider__bar{
  background-color: #ff4e4e ;
  border-radius: 0;
  height: 4px;
}
.el-slider__runway{
  border-radius: 0;
}
.el-slider__button-wrapper{
  display: none;
}
.el-slider__runway{
  height: 4px;
}
.el-popover{
  height: 380px;
  overflow-y: scroll;
}
.el-popover::-webkit-scrollbar {
  display: none;
}
.el-dialog__wrapper{
  top: 50px;
}
.el-loading-spinner{
  top: 380px;
}
.el-loading-mask{
  background-color: unset;
}
.el-loading-spinner .el-loading-text{
  color: black;
  font-weight: 300;
}
.el-icon-loading::before{
  color: black;
}
/* 去掉表格下边框 */
.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
    border-bottom: none;
}
.el-menu{
  border-right: none;
}
.el-menu-item:focus, .el-menu-item:hover{
  background-color: rgba(128, 128, 128, 0.096);
}
.el-menu-item.is-active{
  color: black;
  font-weight: 600;
  font-size: 16px;
}
.el-menu-item{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.el-menu.el-menu--horizontal{
  border-bottom: none;
}
.el-menu--horizontal>.el-menu-item{
  height: 35px;
  line-height: 35px;
}
.el-menu--horizontal>.el-menu-item.is-active{
  border-bottom: 2px solid #ff4059
}
.el-tabs__item.is-active{
  color: #000;
}
.el-tabs__active-bar{
  background-color: #ff4059;
}
.el-tabs__item:hover{
  color: rgba(0, 0, 0, 0.701);
}

.el-header{
  padding: 0;
}
.el-aside{
  height: 540px;
  border-right: solid 1px rgba(223, 218, 218, 0.932);
}
.el-main{
  height: 540px;
  padding: 10px;
}
.el-footer{
  padding: 0;
}
.el-pagination{
  text-align: center;
}

