.el-table .cell {
  white-space: nowrap;
  /* font-size: 13px; */
} 

.active-row{
  color: #d61e1e;
}
.el-slider__bar{
  background-color: #ff4e4e ;
  border-radius: 0;
  height: 4px;
}
.el-slider__runway{
  border-radius: 0;
}
.el-slider__button-wrapper{
  display: none;
}
.el-slider__runway{
  height: 4px;
}
.el-popover{
  height: 380px;
  overflow-y: scroll;
}
.el-popover::-webkit-scrollbar {
  display: none;
}
.el-dialog__wrapper{
  top: 50px;
}
.el-loading-spinner .el-loading-text{
  color: black;
  font-weight: 300;
}
.el-icon-loading::before{
  color: black;
}

